<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ＰＥＢＢＬＥＳ</title>
        <link rel="shortcut icon" type="image/jpg" href="../favicon.png"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/template.css">
    </head>
    <body>
        <div id="reload" onclick="location.reload();"><img alt='reload' class="icon" width='64px' height='64px' src="../img/reload.png"></div>
        <div id="home" onclick="window.location.href = 'https://genart.plib.dev/';"><img alt='home' class="icon" width='64px' height='64px' src="../img/home.png"></div>
        <div class="loader"></div>
        <script src="../p5/p5.min.js"></script>
        
        <script>
            // Settings
            let CANVAS_WIDTH = 600;
            let CANVAS_HEIGHT = 400;

            let PARTICLESIZE = 25;
            let NUM_PARTICLES = 10000;
            let NOISESCALE = 1.5;
            let PERSPECTIVE_MOD = 500;

            let BACKGROUND_COLOR = 'black';
            let BORDER_COLOR = 'white';


            // Algorithm
            function setup() {
                createCanvas(CANVAS_WIDTH, CANVAS_HEIGHT);
                background(color(BACKGROUND_COLOR));

                let r = getRandomInt(1,200);
                let g = getRandomInt(1,200);
                let b = getRandomInt(1,200);

                for (j = 0; j < NUM_PARTICLES; j++){                    
                    let x = getRandomInt(1,CANVAS_WIDTH);
                    let y = getRandomInt(1,CANVAS_HEIGHT);
                    let d = (noise(x, y,) * NOISESCALE) * PARTICLESIZE;
                    let p =  CANVAS_HEIGHT;
                    noStroke();

                    fill(color(noise(x) * (r), noise(x) * (g), noise(x) * (b)));
                    variableEllipse(x - 4, y + 4, d, d * (y/PERSPECTIVE_MOD));

                    fill(color(noise(x) * (r + 20), noise(x) * (g + 20), noise(x) * (b + 20)));
                    variableEllipse(x - 2, y + 2, d, d * (y/PERSPECTIVE_MOD));

                    fill(color(noise(x) * (r + 40), noise(x) * (g + 40), noise(x) * (b + 40)));
                    variableEllipse(x, y, d, d * (y/PERSPECTIVE_MOD));
                }
                strokeWeight(20);
                stroke(BORDER_COLOR);
                noFill();
                rect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
            }

            function variableEllipse(x, y, px, py) {
                ellipse(x, y, px, py);
            }

            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
            }
        </script>
    </body>
</html>


<!-- let canvasWidth = 800;
let canvasHeight = 800;
let noiseScale = 0.03; // Controls the density of the clouds
let maxRadius = 40; // Maximum radius of cloud shapes
let minRadius = 5; // Minimum radius of cloud shapes
let lineWeight = 2; // Weight of the lines connecting each point
let lineAlpha = 150; // Maximum transparency of the lines connecting each point

function setup() {
  createCanvas(canvasWidth, canvasHeight);
  noLoop(); // Run draw() only once
}

function draw() {
  background(0); // Black background
  // Create a blue and orange gradient background with cloud shapes
  let c1 = color(255, 165, 0); // Orange
  let c2 = color(0, 0, 255); // Blue
  let clouds = setCloudyGradient(0, 0, canvasWidth, canvasHeight, c1, c2);

  // Draw white lines connecting each point to every other point
  strokeWeight(lineWeight);
  minimpact = 300;
  maximpact = 0;
  for (let i = 0; i < clouds.length; i++) {
    for (let j = i + 1; j < clouds.length; j++) {
      let weight = (blue(clouds[i][2]) + blue(clouds[j][2])) / 2; // 0 to 255
      let impact = 255 - weight*2;
      if (impact < 0) {impact = 0;}
      if (impact > maximpact)(maximpact = impact);
      if (impact < minimpact)(minimpact = impact);
      if (impact > 155){
        stroke(255,255,255, impact*2 - 250);
        line(clouds[i][0], clouds[i][1], clouds[j][0], clouds[j][1]);
      }
      
      
    }
  }
}

function setCloudyGradient(x, y, w, h, c1, c2) {
  let clouds = [];
  noStroke();
  for (let i = y; i <= y + h; i += maxRadius) {
    for (let j = x; j <= x + w; j += maxRadius) {
      let noiseVal = noise(i * noiseScale, j * noiseScale, frameCount * noiseScale); // Generate noise value
      let radius = map(noiseVal, 0, 1, minRadius, maxRadius); // Map noise value to cloud shape radius
      let inter = map(radius, minRadius, maxRadius, 0, 1); // Map radius to color gradient
      let c = lerpColor(c1, c2, inter);
      let alpha = map(radius, minRadius, maxRadius, 30, 150); // Map radius to transparency
      fill(red(c), green(c), blue(c), 255);
      ellipse(j, i, radius, radius);
      clouds.push([j, i, c, alpha]);
    }
  }
  return clouds;
} -->