<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>testing</title>
        <link rel="shortcut icon" type="image/jpg" href="../favicon.png"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/template.css">
    </head>
    <body>
        <div id="reload" onclick="location.reload();"><img alt='reload' class="icon" width='64px' height='64px' src="../img/reload.png"></div>
        <div id="home" onclick="window.location.href = 'https://genart.plib.dev/';"><img alt='home' class="icon" width='64px' height='64px' src="../img/home.png"></div>
        <div class="loader"></div>
        <script src="../p5/p5.min.js"></script>
        
        <script>
            // Settings
            let CANVAS_WIDTH = 800;
            let CANVAS_HEIGHT = 800;
            let BACKGROUND_COLOR = 'white';
        

            // Algorithm
            function setup() {
            }

                


        </script>
    </body>
</html>